DATABASE_URL="postgresql://postgres:password@localhost:5432/lumendb?schema=public"

JWT_SECRET="change-me-in-prod"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="change-me-refresh"
JWT_REFRESH_EXPIRES_IN="7d"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

SMTP_HOST=""
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""

PORT=3000

